# Ignore everything by default
*

# Allow standard files
!.gitignore
!.gitattributes
!.gitmodules
!LICENSE*
!README*
!CHANGELOG*

# Allow WoW addon files
!*.lua
!*.xml
!*.toc
!*.md
!*.tga
!*.blp
# rarely I use separate .pkgmeta files for classic vs retail
!.pkgmeta*

# Allow non-dot directories and .github
!*/
.*/**
!.github/**